<div class="row align-items-end">
    <div class="col-4">
      <img class="bd-placeholder-img card-img-top p-2" width="110%" [src]="productItem.imageUrl" />
    </div>
    <div class="col-6">
      <div class="col align-self-start">
        <strong>{{productItem.name}}</strong>
      </div>
      <div class="col align-self-start">
        <strong>{{productItem.price}}</strong>
      </div>
      <div id="box">
        <button id="btn1" (click)="increase()" >+</button>
        <input type="number" id="quantity" name="quantity" value="1" min="1" oninput="value=value.replace(/[^\d]/g,'')">
        <button id="btn2" (click)="decrease()">-</button>
      </div>
      <div >
        <button>Add to cart</button>
      </div>
      <div class="col align-self-start">{{productItem.description}}</div>
    </div>
  </div>
