<div class="section container">
  <h3>Hot Items!</h3>
</div>
<div class=" container">
  <div class="row">
    <app-carousel></app-carousel>
  </div>
</div>

<div class="container">
  <div class="section">

  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="section">
        <div class="row">
          <h3>Receipe</h3>
        </div>
        <app-recipe-list></app-recipe-list>
      </div>

      <div class="section">
        <div class="row">
          <h3>Produce and Ingredients</h3>
        </div>
        <app-product-list></app-product-list>

      </div>
    </div>
  </div>
</div>
