<div class="bgImage">
  <div class="section container">
    <h3 id="HotItems"><span class="HotItemsContent">Hot Items!</span></h3>
  </div>
  <div class="container" >
    <div class="row">
      <app-carousel></app-carousel>
    </div>
  </div>

  <div class="container">
    <div class="section">

    </div>


    <div class="row">

      <div class="col-md-12">
        <div class="section">
          <div class="row">
            <h3 id="Recipe"><span class="HotItemsContent">Receipe</span></h3>
          </div>
          <app-recipe-list></app-recipe-list>
        </div>

        <div class="section">
          <div class="row">
            <h3 id="Produce"><span class="HotItemsContent">Products and Ingredients</span></h3>
          </div>
          <app-product-list></app-product-list>

        </div>
      </div>
    </div>
  </div>
</div>
