<form class="formCSS" method="post">
  <p>
    <label for="email" style="margin-right:10px;">Email : </label>
    <input type="text" name="email" style="background:#DCF0FF;border-color:	LightSteelBlue;" />
  </p>
  <p>
    <label for="name" style="margin-right:10px;">Name : </label>
    <input type="text" name="name" style="background:#DCF0FF;border-color:	LightSteelBlue;" />
  </p>
  <p>
    <label for="password" style="margin-right:10px;">Password: </label>
    <input type="text" name="password" style="background:#DCF0FF;border-color:	LightSteelBlue;"/>
  </p>

  <input type="submit" value="Submit" class="btn btn-outline-primary rounded"/>
</form>
