<div class="container">
  <div class="row justify-content-between">
    <div class="col-5">
      <img
        class="border border-success bd-placeholder-img card-img-top p-2"
        width="110%"
        [src]="recipeItem.image_url"
      />
    </div>
    <div class="col-5">Description: {{ recipeItem.description }}</div>
  </div>

  <div class="row justify-content-between">
    <div class="col-5">
      <div class="fs-2">
        <strong>{{ recipeItem.name }}</strong>
      </div>
      <div class="fs-4">
        <app-rating style="color: yellow"></app-rating>({{
          recipeItem.review_qty
        }})
      </div>
    </div>
    <div class="col-6">
      <!--      buttons-->
      <div class="row">
        <div class="col-5">
          <button
            type="button"
            class="btn btn-outline-success m-2 btn-sm rounded-3"
            (click)="handleAddToWishlist()"
          >
            Add to favourites
          </button>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-outline-success m-2 btn-sm rounded-3"
            (click)="handleAddAllToCart()"
          >
            Add all to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
