<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img
        [src]="recipeItem.image_url"
        class="border border-success bd-placeholder-img card-img-top p-2"
        width="110%"
      />
    </div>
    <div class="col-md-6">
      <div class="fs-2">
        <strong>{{ recipeItem.name }}</strong>
      </div>
      <div class="fs-4">
        <rating [(ngModel)]="recipeItem.rating" [max]="5" [readonly]="true"></rating>
        ({{ recipeItem.total_reviews }})
      </div>
      <div class="row" >
        <div class="col">
          <div class="row" style="margin: 10px;">
            <button class="btn btn-success">Save to Favourites</button>
          </div>
        </div>
        <div class="col">
          <div class="row" style="margin: 10px;">
            <button class="btn btn-primary">Add Products to Cart</button>
          </div>
        </div>
      </div>
      <div>
        {{ recipeItem.description }}
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Products</h3>
    <div class="ml-2">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ingredients</th>
          <th scope="col">Quantity</th>
        </tr>
        <tr *ngFor="let it of recipeItem.details['quantity'] | keyvalue; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{it.key}}</td>
          <td>{{it.value}}</td>
        </tr>
        </thead>
      </table>
    </div>

    <h3>Ingredients Detail</h3>
    <div class="ml-2">
      <table class="table">
        <tbody>
          <tr *ngFor="let it of recipeItem.details['ingredients_detail']">
            <td>{{it}}</td>            
          </tr>
        </tbody> 
      </table>
    </div>

    <h3>Instruction</h3>
    <div class="ml-2">
      <ol class="mx-2">
        <li *ngFor="let it of recipeItem.details['instruction']"> {{it}}</li>
      </ol>
    </div>

    <h3>Nutrients</h3>
    <div class="ml-2">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nutrients</th>
          <th scope="col">Quantity</th>
        </tr>
        <tr *ngFor="let it of recipeItem.details['nutrients'] | keyvalue; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{it.key}}</td>
          <td>{{it.value}}</td>
        </tr>
        </thead>
      </table>
    </div>




  </div>

<!--  Used for debugging -->
  <div>
    {{ recipeItem | json }}
  </div>

</div>
