<div>
  <div class="row align-items-start">
    <div class="col-4">
      <!--  用户头像姓名性别-->
      <img src="">
      <span>name</span>
      <span>sex</span>
    </div>
    <div class="col-6">
      <!--  用户个人信息-->
      <span>cardnumber</span>
      <span>address</span>
      <button >Change</button>
      <!--这里有个Change函数没写，回头看看怎么写-->
    </div>
  </div>
</div>

<div>
  <div>your shopping cart list</div>
  <div>your shopping cart list</div>
  <div>your shopping cart list</div>
</div>

<div>
  <!--评论区-->
</div>
