<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <div style="background: bisque">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Thank you for Using Leh</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel
            orci felis. Morbi suscipit dapibus enim at consequat. Ut in auctor
            augue. Nulla efficitur ex augue, ut vehicula urna euismod non.
            Suspendisse potenti.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3" />

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Get to Know us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Career</a>
            </li>
            <li>
              <a href="#!">Leh and our Planet</a>
            </li>
            <li>
              <a href="#!">Investor Relations</a>
            </li>
            <li>
              <a href="#!">Press Release</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Make Money With us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Sell on Leh</a>
            </li>
            <li>
              <a href="#!">Advertise Your Products</a>
            </li>
            <li>
              <a href="#!">Leh Cash</a>
            </li>
            <li>
              <a href="#!">Returns and support</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2022 Copyright:
      <a href="https://mdbootstrap.com/"> www.leh.com</a>
    </div>
    <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->
