input {
  width: auto;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

nav {
  margin-bottom: 100px;
  background: white;
}

.space-taker {
  margin-bottom: 100px;
}

#navBg{
  background:	#C8FFC8;
}

#fontClick{
  color:#2F4F4F;
  font-style: italic;
  text-decoration: underline;
}
